
.titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    color: #F0B429;
   /* font-size: larger;*/
   width: 100%;
 }

 body {
  font-weight: inherit;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}

#menu, #menu ul {

margin: 0;
padding: 10px;
list-style: none;
font-size: 45px;


}

#menu {
 width: 100%;
 margin: 10px auto;
 border: 1px solid;
 background-color:  #005883;
 border-radius: 6px;
 /*box-shadow: 0 2px 2px  #F0B429;*/

}

/*Nicholas Gallegher micro clearflix
*/

#menu:before, 
#menu:after{

  content: "";
  display: block;
}

#menu::after{
  clear: both;
}

#menu li{

  float: left;
  border-right: 1px solid gray;
  position: relative;
  
}





#menu a{
  float: left;
  padding: 12px 80px;
  color: #fff;
  text-decoration: none;
  /*text-transform: uppercase;*/
  font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#menu ul{
  margin: 0 0 0 0;
  padding: 1px 0 0 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 43px; 
  left: 0; 
  z-index: 1;
  /*background: linear-gradient(red);*/
  /*box-shadow: 0 -2px 0 #F0B429;*/
  border-radius: 3px;
  transition: all 0.2s ease-in-out;


}

#menu li:hover > ul{
  opacity: 1;
  visibility: visible;
  margin: 0;
}

#menu ul ul{
   top:0;
   left: 150px;
   margin:0 0 0 20px; 
   box-shadow: 0 -2px 0 #F0B429;
   
}

#menu ul a{
  padding: 20px;
  width: 140px;
  display: block;
  white-space: nowrap;
  float: none;
  text-transform: none;
  
}

#menu ul a{
  background: linear-gradient(red);
}

#menu ul li:first-child > a:after{
  content: "";
  position: absolute;  
  left: 40px;
  top: -6px; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
 
}

#menu ul ul li:first-child > a:after{
  left: -6px;
  top: 20px; 
  border-left: 0;
  margin-top: -6px;
  border-top: 25px solid transparent;
  border-right: 25px solid #005883;
  border-bottom: 25px solid transparent;

}

.color_azul {
  color: #06066eef;
}

/* Para ocultar el botón móvil*/
 #menu-entrada{
     display: none;

 }

@media(max-width:700px){
    #menuprincipal{
    position: relative;
    }

    #menuprincipal *{
      box-sizing: border-box;
    }

    #menu-entrada{
       display: block;
       height: 60px;
       line-height: 60px;
       cursor: pointer;
       padding: 0 0 0 70px;
       border: 1px solid #005883;
       color: white;
       font-weight: bold;
       background-color: #005883;
       background: url("imagenes/icon-menu.png") no-repeat 10px center, linear-gradient(#005883, #005883);

    }


#menu{
  margin:0; 
  padding: 30px;
  position: absolute;
  top: 58px; 
  width: 280px;
  z-index: 1; 
  display: none;
  box-shadow: none;
}

#menu ul{
   position: static; 
   visibility: visible;
   opacity: 1;
   background: none; 
   box-shadow: none;
}

#menu ul ul{
  margin: 0 0 0 20px;   
  box-shadow: none;
}

#menu li{
  position: static; 
  display: block;
  float: none;
  border: 0;
  margin: 5px;
  box-shadow: none;
  background: none !important;
}
#menu ul li{
  margin-left: 20px;
  box-shadow: none;
}

#menu a{
  display: block;
  float: none;
  padding: 0;
  color: #fff;
}

#menu a:hover{
  color: #fafafa;
  width: auto;

}

#menu ul a{
  padding: 0;
  width: auto;
} 

#menu ul a{
  background:none !important;
}
}



/*.menu {
  padding: 10px;
  width: 100%;
  background-color:  #005883;
  font-size: x-large;
  color: white; 
  font-weight: bold;

}*/

.menu2 {
    padding: 10px;
    width: 25%;
    background-color:  #005883;
    font-size: x-large;
    color: white;
    
}

.submenu {
  padding: 10px;
  background-color: #F0B429;
  font-size: x-large;
  font-weight: bold;
  color: black;
}



.tabla {
    text-align: justify;
    width: 100%;
    font-size: small;
    padding:3px 5px 5px 1px;
    color: #005883;
       
    }

.parrafo {
  text-align: justify;
  width: 100%;
  font-size: medium;
  padding:3px 5px 5px 1px;
  color: #005883;

}

.imagen {
    text-align: right;
    padding:1px 95px 1px 100px;
    float: left;
    line-height: 30px;
    width:8%;
    
}

.foto {
  
  padding:1px 30px 1px 2px;
  float: left;
  line-height: 30px;
  width:30%;

}

.autor {
text-align: justify;
color:  #F0B429;
font-size: x-large;
width:30%;

}

.heading {
     color: white; 
}

nav li {
  display: inline;
  background-color: #005883;
  text-align: left;
  color:white;
  font-size: large;
  /*font-weight: bold;
  float: left;
  overflow: hidden;
  line-height: 30px;*/
 
}

 /* a.boton {
    text-decoration: none;
    background-color:#005883;
    color:white;
    padding: 20px 30px;
    font-weight: bold;
    border-radius: 5px;
    
  }

  a.boton:hover {
    opacity: 0.6;
    box-shadow: 8px 8px 8px #ccc;
  }

  a.boton:focus{
    border:dotted 2px #fff; 
    outline: none;
  }
 
  a.boton:active{
  background: #F0B429;

  }*/


  .piepagina {
    background-color:#F0B429;
    text-align: center;
    width: 100%;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

 html {
   font-size: 62.5%;
   line-height: 1;
 }

 p {
   font-size: 15px;
   font-size: 1.5rem;

   line-height: 1.333333334;
   margin-bottom: 20px;
   margin-bottom: 2rem;
   text-align: justify;
 }

 .three-columns{
    /*column-count: 3;*/
    width: 100%;
    font-size: medium;
    padding:3px 5px 5px 1px;
    color: #005883;
    /*-webkit-column-count: 3; /*Chrome, Safari, Opera*/
    /*-moz-column-count: 3;/*Firefox*/
  
    /*-webkit-column-count: 1px; /*Chrome, Safari, Opera
    -moz-column-count: 1px;/*Firefox
    column-gap: 1px;

    -webkit-column-count: 1rem; /*Chrome, Safari, Opera*/
    /*-moz-column-count: 1rem;/*Firefox
    column-gap: 1rem;*/
 }

 @media(min-width: 600px){

   .show-table {
       display: block;
   }

  .three-columns{
    -webkit-column-count: 3; 
    -moz-column-count: 3;
    column-count: 3;

    -webkit-column-gap: 40px; /*Chrome, Safari, Opera*/
    -moz-column-gap: 40px;/*Firefox*/
    column-gap: 40px;

    -webkit-column-gap: 4rem; /*Chrome, Safari, Opera*/
    -moz-column-gap: 4rem;/*Firefox*/
    column-gap: 4rem;

    column-rule: 1px solid #bbb;
    /*-webkit-column-rule: 5px solid rgb(75, 180, 149);
    -moz-column-rule: 5px solid rgb(75, 180, 149);
    column-rule: 5px solid rgb(75, 180, 149);*/

  }


 }




 